{% extends 'header.html' %}

{% load static %}

{% block content %}
    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Make An Appointment For Your Family</h1>
                    </div>
                    <p class="mb-5">This online physician Locator helps you find a perfect match for your medical needs DoctorFinder provides you with basic professional information on virtually every licensed physician in the India. This includes more doctors.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Book An Appointment</h1>
                        <p><b>{{msg}}</b></p>
                        <form action="{% url 'otp' %}" method="POST">

                            {% csrf_token %}

                            <div class="row g-3">
                                
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="uotp" class="form-control bg-white border-0" placeholder="Your OTP" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Verify OTP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
{% endblock %}
